<!-- app/views/doctors/patient_statistics.html.erb -->
<div class="container mx-auto py-8">
  <div class="text-center">
    <h1 class="text-5xl font-bold text-gray-800 mb-6">Welcome to the Doctor Portal</h1>
  </div>

  <div class="w-full flex items-center justify-between flex-wrap my-10">
    <h2 class="text-3xl font-bold text-gray-800 mb-6">Patient Registration Statistics</h2>
    <%= link_to "View all Patients", patients_path, class: "text-white bg-indigo-600 hover:bg-indigo-700 py-3 px-6 rounded-lg text-lg font-semibold" %>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <!-- Line Chart for Daily Registrations -->
    <div>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">Daily Registrations</h3>
      <%= line_chart @patient_registration_data, xtitle: "Date", ytitle: "Number of Patients" %>
    </div>

    <!-- Pie Chart for Gender Distribution -->
    <div>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">Patient Gender Distribution</h3>
      <%= pie_chart @patient_by_gender, donut: true, xtitle: "Gender", ytitle: "Count" %>
    </div>

    <!-- Column Chart for Age Groups -->
    <div>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">Age Group Distribution</h3>
      <%= column_chart @patient_by_age_group, xtitle: "Age Group", ytitle: "Count" %>
    </div>

    <!-- Bar Chart for Monthly Registrations -->
    <div>
      <h3 class="text-xl font-semibold text-gray-700 mb-2">Monthly Registrations</h3>
      <%= bar_chart @patient_by_month, xtitle: "Month", ytitle: "Number of Patients" %>
    </div>
  </div>
</div>
